
 .main-content{
  min-height: 500px;
  margin: 6rem 0;	
 }

/************************************

ARTICLE SECTION

************************************/

article {

  header{
 	  margin-bottom: 3rem;

    .article__heading{
        font-weight: 300;
    }

    .timestamp{
      width: 100%;
      color: #999999;
      font-style: italic;
      
    }

  }

}

/************************************

COUNCIL PROFILE SECTION

************************************/

.council-member{
margin-bottom: 1.5em;
box-shadow: 0 1px 3px #a2a8b3;
padding: 15px;
}
.council-profilePic{
margin-bottom: 10px;
	  box-shadow: 0 1px 2px black;
}
.council-name{
  font-size: 1.75em;
  font-weight: 300;
}
.council-history, .council-resident, .council-name{
margin-bottom: 1.5rem;
}
.council-profilePanel{
	margin-top: 1.5rem;
	box-shadow: none;
}

 
/************************************

CHILD PAGE LIST SECTION

************************************/

.child-page-panel{
  border: none;
  border-radius: 0;
  border-top: 1px solid #cccccc;
  margin-top: 3rem;
}

.child-page-panel img{
  width: 100%;
  height: auto;
}


.child-page-panel .caption{
  padding: 0;
}

.caption-heading{
  margin-top: 1.5rem;
}


/************************************

FILE PANEL CSS

************************************/

.file-panel{
  border: none;
  border-radius: 0;
  margin-top: 3rem;
  text-align: center;
}

.file-panel-icon{
  font-size: 2em;
  color: #44b1ac;
}

.child-page-panel .caption{
  padding: 0;
}

.caption-heading{
  margin-top: 1.5rem;
}





