/*******************************

FEATURE CONTENT WIDGET STYLES

*******************************/
.feature-content {
  margin-bottom: 4em; }

.feature-item {
  cursor: pointer;
  margin-bottom: 1.5em; }

.feature-item__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 85%);}

/*.feature-item:hover .feature-item__overlay {
  opacity: .75;
  background-image: linear-gradient(45deg, #009CDC 0%, #009CDC 100%);
}
*/
.feature-item__title {
  color: #ffffff;
  position: absolute;
  bottom: 15px;
  left: 0;
  padding: 0 15px;
  z-index: 2;
  width: auto;
  text-shadow: 0px 1px 0px #002C3D; }

.feature-item__title:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  opacity: 0;
  margin-top: 5px;
  background-color: #FFFFFF;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }

.feature-item:hover .feature-item__title:after {
  width: 100%;
  opacity: 1; }

.feature-item__img {
  -webkit-transition: all .4s cubic-bezier(.555,.205,.295,.975);;
  -o-transition: all .4s cubic-bezier(.555,.205,.295,.975);;
  transition: all .4s cubic-bezier(.555,.205,.295,.975);; }

.feature-item:hover .feature-item__img {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15); }

.feature-item__container {
  position: relative;
  max-width: 350px;
  overflow: hidden;
  box-shadow: 0 1px 2px black; }
