/*******************************

FOOTER STYLES

*******************************/
footer{
	background-color: $med_bg;
}

footer .fa{
	margin-right: 10px;
}

footer ul li{
	margin-bottom: 1.5rem;
}

