/*******************************

HEADER STYLES

*******************************/
header{
  background-color: $primary_brand;
  color: $light_ui;
  padding-bottom: 3px;
}

header a{
  color: $light_ui; 
}

.header-utilities__list{
  padding-top: 15px;
  margin-bottom: 0;
}

.header-utilities__list--social-icon{
  position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 15%);
}

.header-search {
  margin: 0;
  position: relative; }

.header-search__input {
  background-color: $primary_brand;
  border: none;
  width: 100%;
  padding: 3px 10px; 
  color: $font_light;
  border-bottom: 2px solid $font_light;}

.header-search__input::placeholder{
  color: $font_light;
} 

.header-search__input:focus {
  outline: none; }

.header-search__btn {
  background-color: $primary_brand;
  color: $font_light;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 10px;
  outline: none; }

.header-contact {
  padding: 2.85rem; }

@media (min-width: 320px) {
  .desktop-header {
    display: none; } }

@media (min-width: 767px) {
  .desktop-header {
    display: block; } }
