/*******************************

NAV STYLES

*******************************/
.nav-logo {
  height: 75px;
  padding: 15px 0 15px 0;
  width: auto; }

.cosg__nav {
  background: $primary_brand;
  margin-bottom: 0;
  border-radius: 0;
  border: none; 
  position: relative;
  z-index: 5000;
}

.cosg__nav .navbar-nav > li > a {
  color: $font_light;
  font-size: 1.25em;
  padding: 10px 25px 0 0;
  font-weight: 400;
  position: static;
   }

.cosg__nav .navbar-nav > li > a:hover {
  color: $font_light; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: $primary_brand;
  color: $dark_ui; }

.nav > li {
  position: static; }

.dropdown .megamenu-sub {
  position: absolute;
  z-index: 2;
  min-width: initial;
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background-color: $med_ui; 
  padding: 30px 0;
  box-shadow: inset 0 2px 10px $dark_ui;
  transition: all .35s ease-in-out;
}

.nav-subgroup{
  border-left: 2px solid $dark_ui;
  margin-bottom: 45px;
}


.list-group-item.nav__item {
  background-color: inherit;
  color: $font_light;
  border-radius: 0;
  padding: 0 15px 5px 15px;
  border: none; }

  .list-group-item.nav__item:hover{
    color: $font_light;
    background: none;
    text-decoration: underline;
  }

.list-group-item__heading {
  font-weight: 300;
  font-size: 1.75em;
  margin-bottom: 1.5rem;
}

.nav-search--desktop{
  padding-top: 8px;
  color: $font_light;
}

.nav-search--desktop__input {
    background: none;
    border: none;
    color: $font_light;
    border-bottom: 2px solid $light_bg;
}

.nav-search--desktop__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $font_light;
}
.nav-search--desktop__input::-moz-placeholder { /* Firefox 19+ */
  color: $font_light;
}
.nav-search--desktop__input:-ms-input-placeholder { /* IE 10+ */
  color: $font_light;
}
.nav-search--desktop__input:-moz-placeholder { /* Firefox 18- */
  color: $font_light;
}

.nav-search--desktop__btn {
    background: none;
    border: none;
}

.nav-search--mobile {
    padding: 1.5rem 10px;
    background-color: $light_ui;
    margin-top: -8px;
    margin-bottom: 15px;
}

.nav-search--mobile__form{
  position: relative;
}

.nav-search--mobile__input{
  background-color: $med_bg;
  width: 100%;
  border: none;
  padding: 5px;
  color: $med_ui;
}

.nav-search--mobile__btn{
  background-color: $med_bg;
  color: $med_ui;
  border:none;
  position: absolute;
  padding: 5px;
  top: 0;
  right: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: $med_ui;
}

@media (max-width: 992px) {
  .cosg__nav .navbar-nav>li>a {
      font-size: 1em;
  }

}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu.megamenu-sub {
    background-color: $med_ui;
    box-shadow: inset 0 2px 10px #002d3e;
  } 
    
    .cosg__nav .navbar-nav>li>a {
        font-size: 1.25em;
        padding: 20px 10px 10px 10px
    }

    .nav-logo {
        height: 70px;
        padding: 15px 0 15px 0;
        width: auto;
    }

    .cosg-nav--toggle{
      border:none;
      color: $font_light;
      font-size: 2.5rem;
      padding: 5px 8px;
      margin-top: 15px;
      border-radius: 0;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: $med_ui;

    }
    .navbar-header{
      box-shadow: 0 2px 10px $dark_ui;
      z-index: 500;
      position: relative;
    }

}
